<!DOCTYPE html>
<html>

<head>
  <title>Chat with bearfoot</title>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font: 13px Helvetica, Arial;
    }

    .wrap {
      width: 50%;
      height: 80vh;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10vh;
    }

    .wrap .online {
      float: left;
      width: 40%;
      height: 100%;
      background: #42938B;
      color: #f5f5f5;
      overflow: hidden;
      position: relative;
      border-top-left-radius: 7px;
      border-bottom-left-radius: 10px;
      border-top-right-radius: 7px;
      -webkit-box-shadow: -4px 0px 13px -3px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: -4px 0px 13px -3px rgba(0, 0, 0, 0.75);
      box-shadow: -4px 0px 13px -3px rgba(0, 0, 0, 0.75);
    }

    .theform {
      height: 50px;
      width: 100%;
      background: #42938B;
    }

    .wrap .chat {
      float: right;
      width: 60%;
      height: 100%;
      overflow: hidden;
      position: relative;
    }

    form {
      position: absolute;
      bottom: 0;
      width: 100%;
      z-index: 99;
    }

    form input {
      float: left;
      border: none;
      margin-left: 5%;
      width: calc(90% - 15%);
      padding: 11px 32px 10px 8px;
      font-size: 0.8em;
      color: #32465a;
      margin-top: 8px;
    }

    input:focus,
    textarea:focus,
    select:focus {
      outline: none;
    }

    form button {
      float: right;
      border: none;
      width: 15%;
      cursor: pointer;
      padding: 10px;
      background: #F08080;
      color: #f5f5f5;
      margin-top: 8px;
      margin-right: 5%;
    }


    #messages {
      height: 568px;
      width: 100%;
      overflow-y: scroll;
      border-top-right-radius: 5px;
      background: #E6EAEA;
    }

    ul {
      list-style: none;
    }

    #messages li {
      padding: 5px 10px;
    }

    #messages li:nth-child(odd) {
      background: #eee;
    }

    .title {
      width: 100%;
      line-height: 30px;
      padding: 5px;
      text-align: center;
      background-color: white;
    }

    #onlineList li {
      width: 100%;
      margin-top: 10px;
      margin-left: 40px;
    }

    .onlineTitle h1 {
      margin-left: 15px;
      margin-top: 15px;
      font-size: 1.4em;

    }

    .onlineStatus {
      width: 10px;
      height: 10px;
      background-color: #3498DB;
      border-radius: 100%;
      float: left;
      margin-right: 9px;
      margin-top: 3px;
    }

    .offStatus {
      width: 10px;
      height: 10px;
      background-color: #F08080;
      border-radius: 100%;
      float: left;
      margin-right: 9px;
      margin-top: 3px;
    }

    @media only screen and (max-width: 980px) {
      .wrap {
        width: 100%;
        height: 80vh;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10vh;
      }
    }

  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
</head>

<body>
  <div class="wrap">
    <div class="online">
      <div class="onlineTitle">
        <h1>Online Users</h1>
      </div>
      <ul id="onlineList"></ul>
    </div>
    <div class="chat">
      <div class="title">
        <p> Hi,<b>  </b> hope you are enjoying Barefoot chat feature</p>
      </div>
      <ul id="messages"></ul>
      <form action="/" method="POST" id="chatForm">
        <section id="feedback"></section>
        <section class="theform">
          <input id="txt" autocomplete="off" autofocus="on" oninput="isTyping()" placeholder="type your message here..."
            required />
          <button>Send</button>
        </section>
      </form>
    </div>
  </div>


  <script>
     var url = new URL(window.location.href);
    var token = url.searchParams.get("token");
    console.log(token);
    var socket = io.connect('http://localhost:3000', { query: {token}})
    var feedback = $("#feedback")

    $(document).ready(function () {
      socket.on("error", function(error){
      console.log('Please login and try again');
    })

      socket.on('chat_history', function (data) {
        $('#messages').find("li").remove();
        data.filter(function (element) {
          $('#messages').append($('<li>').html("<b>" + element.User.firstName + " " + element.User
            .lastName + "</b>: " + element.message));
        })
        $('#messages').animate({scrollTop: $('#messages').prop("scrollHeight")}, 500);
      })
      $('form').submit(function (e) {
        e.preventDefault(); // prevents page reloading
        socket.emit('chat_message', $('#txt').val());
        $('#txt').val('');
        return false;
      });
      // append the chat text message
      socket.on('chat_message', function (msg) {
        $('#messages').append($('<li>').html(msg));
          $('#messages').animate({scrollTop: $('#messages').prop("scrollHeight")}, 500);
      });
      // // append text if someone is online
      socket.on('is_online', function (username) {
        $('#messages').append($('<li>').html(username));
      });

      //Listen on typing
      // socket.on('typing', (fName) => {
      //   console.log('chat')
      //   feedback.html("<p><i>" + fName + " is typing a message..." + "</i></p>")
      // })

      // console.log('ready');
    })
    // ask username
    socket.emit('username');
    socket.emit('connected_clients', null, function (users) {
      $('#onlineList').empty();
      $.each(users, function (item) {
        $('#onlineList').append("<li> <p class='onlineStatus'></p> " + this.username + "</li>");
      })
    });
    socket.on('new_connected', function (users) {
      $('#onlineList').empty();
      $.each(users, function (item) {
        $('#onlineList').append("<li> <p class='onlineStatus'></p> " + this.username + "</li>");
        $('#messages').animate({scrollTop: $('#messages').prop("scrollHeight")}, 500);
      })
    })
    socket.on('new_disconnected', function (users) {
      $('#onlineList').empty();
      $.each(users, function (item) {
        $('#onlineList').append("<li> <p class='onlineStatus'></p> " + this.username + "</li>");
        $('#messages').animate({scrollTop: $('#messages').prop("scrollHeight")}, 500);
      })
    })

  </script>
</body>

</html>
